# Numpy Basics Exercises

Please complete the following exercises **using numpy only**.

# Array Broadcasting
NumPy arrays of different dimensionality can be combined in the same expression. Arrays with smaller dimension are broadcasted to match the larger arrays, without copying data.

Broadcasting has two rules.

RULE 1: PREPEND ONES TO SMALLER ARRAY'S SHAPE

RULE 2: DIMENSIONS OF SIZE 1 ARE REPEATED WITHOUT COPYING

In [ ]:
# Answer here

1.Use reduce() operation on an array to reduec it into a single meaningful value. You. can also use a specific axis to apply reduce operation.

2.accumulate() creates a new array containing the intermediate results of the reduce operation at each element in a.

In [ ]:
# Answer here

### Create a 2-D array where the first row goes from 10 to 80 exclusive with steps of 5 and 2nd row goes from 5 to 47 exclusive with steps of 3

In [ ]:
# Answer here

### Now use indexing to select the 5th 7th and 11th columns

In [ ]:
# Answer here

### Select the 2nd row and fourth-last to second-last columns

In [ ]:
#Answer here

### Select 3rd to 3rd last columns skipping every second column

In [ ]:
# Answer here

###  Select 3rd to 3rd last columns skipping every second column but in reverse order

In [ ]:
# Answer here

### We will work with the following array:

In [ ]:
a = np.arange(25).reshape(5, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### Use slicing only to select 3rd and last row along with 2nd and last columns

In [ ]:
# Answer here

### Extract the following sub-array: [[2, 3], [12, 13], [22, 23]]

In [ ]:
# Answer here

### Combine fancy/location indexing with slicing to extract the following sub-array: [[6, 8], [16, 18], [21, 23]]

In [ ]:
# Answer here

### Change the values 1, 10, 19 and 22 in the array to -2

In [ ]:
# Answer

### Repeat above using boolean indexing

In [ ]:
# Answer here

### Combine slicing in the column dimension and boolean indexing in row dimension to extract the following sub-array: [[0, 3], [10, 13], [15, 18]]

In [ ]:
# Answer here

### Calculating the sum, min and max of all diagonal values

In [ ]:
# Answer here

### Calculate the sum of differences between the 2nd row and 2nd last column

In [ ]:
# Answer here

### Create a new array that is the sum of even rows and odd rows

In [ ]:
# Answer here

## You are done. Good job!